<body>
    <section style="background-color: rgb(143, 134, 134)">
        <div class="container" style="background-color: rgb(43, 141, 56);" ><p>1</p></div>
        <div class="container" style="background-color: rgb(241, 2, 2);"><p>2</p></div>
        <div class="container" style="background-color: rgb(22, 228, 228);"><p>3</p></div>
        <div class="container" style="background-color: rgb(226, 226, 20);"><p>4</p></div>
        <div class="container" style="background-color: rgb(102, 92, 0);"><p>5</p></div>
        <div class="container" style="background-color: lightcoral;"><p>6</p></div>
        <div class="container" style="background-color: violet;"><p>7</p></div>
        <div class="container" style="background-color: rgb(60, 0, 128);"><p>8</p></div>
        <div class="container" style="background-color: forestgreen;"><p>9</p></div>






